<footer>
    <div id="addressContent">
        <div><b>Timbuktu Chamber of Commerce</b></div>
        <div>10 Rue De La Paix</div>
        <div>Timbuktu, Mali 999</div>
        <div>info@tumbuktucc.org</div>
        <div>(223) 555-2300</div>
    </div>
    <div id="socialMediaContent">
        <a href="#"><img src="images/youtube.svg" alt="Youtube"></a>
        <a href="#"><img src="images/twitter.svg" alt="Twitter"></a>
        <a href="#"><img src="images/linkedin.svg" alt="LinkedIn"></a>
    </div>
    <div id="personalInformationContent">
        <div>WDD231 Class Project</div>
        <div>Gabriel Feippe</div>
        <div>&copy; <span id="footerYear"></span> Timbuktu Chamber of Commerce</div>
        <div id="lastModification"></div>
    </div>
</footer>