<header>
    <div id="logoHeader">
        <div id="logoHeaderIcon">
            <img src="images/logo.svg" alt="Timbuktu Chamber of Commerce">
        </div>
        <div id="logoHeaderName">Timbuktu</div>
        <div id="logoHeaderTagLine">Chamber of Commerce</div>
    </div>
    <div id="menuIcon">
        <img class="openIcon" src="images/bars-solid.svg" alt="Open menu">
        <img class="closeIcon" src="images/xmark-solid.svg" alt="Close menu">
    </div>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="discover.html">Discover</a></li>
            <li><a href="directory.html">Business Directory</a></li>
            <li><a href="join.html">Join</a></li>
        </ul>
    </nav>
</header>