body {
    font-family: var(--font-body);
}

header {
    background-color: var(--primary-color);
    color: #FFF;
    display: grid;
    grid-template-columns: calc(100% - 24px) 24px;
    padding: 16px;
}

#menuIcon {
    width: 24px;
}

.closeIcon {
    display: none;
}

nav {
    display: none;
    position: fixed;
    top: 100px;
    left: 0;
    background-color: var(--primary-color);
    width: 100%;
    height: calc(100% - 100px);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 32px 0 0 0;
}

nav ul li a {
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    width: calc(100% - 32px);
    padding: 16px 32px;
}

#logoHeader {
    display: grid;
    grid-template-columns: 64px calc(100% - 64px);
    grid-template-rows: auto auto;
    font-family: var(--font-title);
}

#logoHeaderIcon {
    width: 64px;
    grid-row: span 2;
}

#logoHeaderIcon img {
    width: 100%;
}

#logoHeaderName {
    align-self: end;
    font-size: 24px;
}

#logoHeaderTagLine {
    align-self: start;
    font-size: 16px;
}

#heroBanner {
    width: calc(100% - 32px);
    height: 210px;
    background-image: url(../images/sankore-madrasa-oldest-university-sub-saharan-africa-timbuktu-mali-1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    padding: 16px;
}

.button {
    border: none;
    padding: 8px 16px;
    border-radius: 100px;
    background-color: var(--button-color);
    justify-self: end;
    align-self: end;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: var(--button-color-hover);
    color: #FFF;
}

.mainContent {
    padding: 0 16px;
    display: grid;
    grid-template-columns: 1fr;
}

.mainCube {
    -webkit-box-shadow: 0px 4px 14px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 14px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 14px -5px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    margin-bottom: 16px;
}

.mainCube h3 {
    padding: 8px 0;
    margin: 0;
    background-color: var(--secondary-color);
    color: #FFF;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.mainCube-content {
    padding: 16px;
}

.mainCube-content>div>img {
    width: 100%;
}

#weatherContent .mainCube-content {
    display: grid;
    grid-template-columns: 64px calc(100% - 64px - 16px);
    gap: 16px;
}

#headerMembersList {
    margin-bottom: 16px;
}

.grid .businessCard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    -webkit-box-shadow: 0px 4px 14px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 14px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 14px -5px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    margin-bottom: 16px;
}

.list .businessCard {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    border-top: solid 1px var(--primary-color);
    margin-bottom: 16px;
}

.grid .businessCard-name {
    grid-column: span 3;
    background-color: var(--primary-color);
    color: #FFF;
    padding: 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.grid .businessCard-name h3 {
    margin: 0;
}

.grid .businessCard-tagLine {
    grid-column: span 3;
    padding: 8px 16px;

}

.grid .businessCard-imageContent {
    grid-row: span 3;
    padding: 8px 0 16px 16px;
}

.list .businessCard-imageContent {
    display: none;
}

.grid .businessCard-imageContent img {
    width: 100%;
}

.grid .businessCard-email,
.grid .businessCard-phone,
.grid .businessCard-url {
    grid-column: span 2;
    padding-right: 16px;
}

.grid .businessCard-url {
    margin-bottom: 16px;
}

footer {
    background-color: var(--footer-color);
    color: #FFF;
    margin-top: 32px;
}

#addressContent {
    padding: 16px 16px 0 16px;
}

#socialMediaContent {
    padding: 16px 16px 0 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

#socialMediaContent>a {
    padding: 16px;
}

#socialMediaContent>a>img {
    width: 100%;
}

#personalInformationContent {
    padding: 16px;
}