:root {
    --font-title: Rubik, Arial, Helvetica, sans-serif;
    --font-body: Nunito, Arial, Helvetica, sans-serif;
    --primary-color: #81274e;
    --secondary-color: #702A8C;
    --background-color: #EFEFEF;
    --background-card-weather: #EEE;
    --text-color: #323232;
    --button-color: #5cce6f;
    --button-color-hover: #188a2b;
    --footer-color: #121212;

}