@media only screen and (min-width: 800px) {
    header {
        grid-template-columns: 280px auto;
    }

    #menuIcon {
        display: none;
    }

    nav {
        display: inline-block;
        position: initial;
        height: 68px;
    }

    nav ul {
        display: flex;
        margin: 0;
        justify-content: flex-end;
        height: 100%;
    }

    nav ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% - 32px);
    }

    #mainCubes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 16px;
    }

    #eventsContent,
    #weatherContent2 {
        grid-column: span 2;
    }

    #weatherContent2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px;
    }

    #weatherContent2 h3 {
        grid-column: span 3;
    }

    #weatherContent2 #mcw-0 {
        grid-column: span 3;
    }

    #weatherContent2>div:nth-child(2) {
        grid-template-columns: 128px calc(100% - 128px - 16px);
        margin: 0 8px 0 8px;
    }

    #weatherContent2>div:nth-child(2) .icon {
        background-color: #FFF;
        border-radius: 4px;
    }

    #weatherContent2 div:nth-child(3),
    #weatherContent2 div:nth-child(4),
    #weatherContent2 div:nth-child(5) {
        grid-template-columns: 1fr;
        grid-template-rows: 64px auto;
    }

    #mcw-1>div>img,
    #mcw-2>div>img,
    #mcw-3>div>img {
        width: auto;
        height: 100%;
    }

    .mainCube-content .icon {
        text-align: center;
    }



    #businessCardsContent.grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-content: space-between;
        gap: 16px;
    }

    .list .businessCard {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        border-top: solid 1px var(--primary-color);
        margin-bottom: 16px;
        font-size: 16px;
        padding-top: 16px;
    }

    .list .businessCard-name h3 {
        margin: 0;
    }

    #gridButton,
    #listButton {
        cursor: pointer;
    }

    footer {
        display: grid;
        grid-template-columns: 40% 20% 40%;
        padding-bottom: 16px;
    }

    #personalInformationContent {
        text-align: right;
    }
}