body {
    font-family: var(--font-body);
    padding: 0;
    margin: 0;
}

h1,
h2,
h3 {
    font-family: var(--font-title);
    font-weight: normal;
}

header {
    display: grid;
    grid-template-columns: calc(100% - 48px) 32px;
    background-color: var(--color-violet);
}

header>a {
    text-align: center;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    font-size: 20px;
    color: var(--color-white);
    padding: var(--small-size) 0;
}

header nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-pink);
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-auto-rows: calc(var(--big-size) + var(--normal-size));
    padding: var(--normal-size) var(--normal-size) 0 var(--normal-size);
}

header nav span {
    text-align: right;
    padding-right: var(--normal-size);
}

header nav span img {
    width: calc(var(--normal-size) + var(--small-size));
}

header nav a {
    text-decoration: none;
    color: var(--color-white);
    padding: 0 var(--normal-size);
    line-height: calc(var(--big-size) + var(--normal-size));
    transition: all .2s;
    width: calc(100% - calc(var(--extra-big-size) * 2));
}

header nav a.selected,
header nav a:hover.selected {
    background-color: var(--color-orange);
    color: var(--color-black);
}

header nav a:hover {
    background-color: var(--color-black);
}

#mobile-menu {
    padding-top: 3px;
}

#mobile-menu img {
    width: 100%;
    height: auto;
}

main {
    margin: 0 var(--normal-size);
}

main h2 {
    background-color: var(--color-pink);
    color: var(--color-white);
    padding: var(--small-size) var(--normal-size);
    border-radius: var(--tiny-size);
    margin: var(--normal-size) 0 0 0;
}

#mu-section img {
    width: 100%;
    height: auto;
    margin-top: var(--small-size);
    border-radius: var(--tiny-size)
}

#wcp-certificate {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--small-size);
}

#total-credits {
    font-size: 18px;
}

#wcp-certificate div:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--small-size);
    border-bottom: solid 1px var(--color-gray);
    padding-bottom: var(--small-size);
}

#wcp-certificate div:nth-child(3) span {
    width: 100%;
    background-color: var(--color-black);
    border-radius: var(--tiny-size);
    text-align: center;
    padding: var(--tiny-size) 0;
    text-decoration: none;
    color: var(--color-white);
    cursor: pointer;
}

#wcp-certificate div:nth-child(3) span.selected {
    background-color: var(--color-orange);
    color: var(--color-black);
}

#wcp-certificate div:nth-child(4) {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: var(--small-size);
}

#wcp-certificate div:nth-child(4) a {
    width: 100%;
    background-color: var(--color-violet);
    border-radius: var(--tiny-size);
    text-align: center;
    padding: var(--normal-size) 0;
    text-decoration: none;
    color: var(--color-white);
}

#wcp-certificate div:nth-child(4) a.completed {
    background-color: var(--color-green);
    color: var(--color-black);
    background-image: url("../images/check.png");
    background-repeat: no-repeat;
    background-size: contain;
}



footer {
    background-color: var(--color-black);
    color: var(--color-white);
    margin: var(--big-size) 0 0 0;
    padding: var(--normal-size);
}

footer p {
    margin: 0;
    text-align: center;
}